#canvas {
	height: 400px;
	width: 400px;
	border: white dotted 1px;
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 10;
}
.Rectangle {
	position: fixed;
}
.Circle {
	border-radius: 50%;
}
.Text {
}